# Web Framework
fastapi
uvicorn[standard]

# Database
alembic
sqlmodel
psycopg2-binary

python-dotenv

# Authentication
PyJWT
passlib[bcrypt]
python-multipart

# Configuration
pydantic
pydantic-settings

# Utilities
email-validator
